--allman false
--binarygrouping 4,8
--commas always
--comments indent
--consecutiveSpaces ignore
--elseposition same-line
--empty void
--exponentcase lowercase
--fileHeaderAlignment remove
--ifdef indent
--indent 4
--linebreaks lf
--maxwidth 120
--nospaceoperators true
--self insert
--semicolons never
--stripunusedargs closure-only
--swiftversion 5.9
--trimwhitespace always
--wraparguments before-first
--wrapcollections before-first
--wrapMultilineStatementBraces true
--trailingCommas always
--redundantReturn false
--redundantSelf disable
--numberFormatting decimalgrouping:3,6
