    <key>NSHealthUpdateUsageDescription</key>
    <string>We need to store your heart rate data in HealthKit</string>
    <key>NSHealthShareUsageDescription</key>
    <string>We need to read your heart rate data from HealthKit</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>We need Bluetooth access to connect to your ring</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>We need Bluetooth access to maintain connection with your ring</string>
